body {
    font-family: Arial, sans-serif;
    font-size: 11px;
    background-color: #00d0ff;
    color: #200088;
}
h1 {
    color: #00a800;
    font-size: 24px;
    font-family: Georgia, serif;
}

button {
    background-color: #007bff;
    color: whitesmoke;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}